body {
  margin: 0;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

span {
  background: url("https://cdn.iconscout.com/icon/premium/png-512-thumb/heart-icon-svg-download-png-10223852.png?f=webp&w=256");
  position: absolute;
  width: 100px;
  height: 100px;
  pointer-events: none;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(1);
  }
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
