body {
  background: #1e2dbb;
  font-family: monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game {
  text-align: center;
  width: 300px;
}

.display {
  font-size: 60px;
  background: white;
  color: black;
  margin: 20px auto;
  width: 100px;
}

input {
  width: 60px;
  font-size: 18px;
}

button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

